body{
  background-color:#2be243;
  background-image: url('https://get.pxhere.com/photo/water-outdoor-horizon-cloud-sky-sunrise-sunset-sunlight-morning-texture-lake-dawn-atmosphere-dusk-evening-reflection-publicdomain-background-afterglow-meteorological-phenomenon-atmospheric-phenomenon-red-sky-at-morning-104089.jpg');
}

h1 {
  color: rgb(150, 29, 29)
}

h2 {
  height: -20%;
  background-color: cornsilk;
  font-size: 250%;
  color: black;
  text-align: center;
}
title {
  background: yellow;
  color: blue;
}
main{
  font-size: 120%;
  text-align: left;
}
.displayBackground{
  font-style: oblique;
}
#thankList{
  border-style: dashed;
  font-style: Arial;
  float: left;
  font-size: 110%;
  margin: auto;
  width: 48.3%;
}

#hobbies {
  border-style: dashed;
  font-size: 110%;
  float: left;
  margin: auto;
  width: 48.3%;
}

#myAccomplishments {
  background-size: 85%;
  float: right;
  margin: auto;
  font-weight: bolder;
  height: 50%;
  width: 50%;
  text-align: left;
}

#myLink{
  border-style: dashed;
  font-style: Arial;
  float: left;
  margin: auto;
  width: 48.3%;
}

.displayWhite{
  color:black;
}