body{
  background-color:#2be243;
  background-image: url('https://cdn.pixabay.com/photo/2017/08/12/10/13/background-2633962__340.jpg');
}
p {
  color: rgb(25, 74, 209);
  font-size: 1.2em
}
h1 {
  color: rgb(150, 29, 29)
}
h2 {
  background: rgb(173, 59, 59);
  font-size: 250%;
  color: black;
  border-style: dashed; 
  text-align: center;
}
title {
  background: yellow;
  color: blue;
}
footer {
  color: black;
}
main{
  margin-top: -2.5%;
  background: rgb(48, 182, 182);
  border: dotted;
  text-align: center;
}
#quizResult{
  background-color:whitesmoke;
  font-style: oblique;
}
#thankList{
  background-color: goldenrod;
  border-style: outset;
  font-style: Arial;
  float: left;
  margin: auto;
  width: 48.3%;
}

#hobbies {
  background-color: blanchedalmond;
  border-style: solid;
  float: left;
  margin: auto;
  width: 48.3%;
}

#myAccomplishments {
  background-image: url('https://cdn10.bigcommerce.com/s-aub1q7pn32/products/14942/images/36808/5__01286.1502335022.500.750.jpg?c=2');
  border-style: solid;
  float: right;
  margin: auto;
  font-weight: bolder;
  height: 100%;
  width: 50%;
  text-align: left;
}

#myLink{
  background-color: goldenrod;
  border-style: outset;
  font-style: Arial;
  float: left;
  margin: auto;
  width: 48.3%;
}
